@model Web_app_project_template_v21.Controllers.ArtistWithDetail

@{
    ViewBag.Title = "Details";
}
<h2>Details for Artist => @Html.DisplayFor(model => model.Name)</h2>
<p>
    @Html.ActionLink("Create New Album", "AddAlbum")
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(modelItem => modelItem.UrlArtist)" alt="@Html.DisplayFor(modelItem => modelItem.UrlArtist)" height="100" width="100">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Executive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Executive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumsCount)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>

